version: '3'
services:
    app:
        build: docker/app
        container_name: rbr_app
        restart: on-failure
        volumes:
          - .:/var/www/rbr-app
          - ./docker/app/log:/var/log/apache2
          - ./docker/app/vhost-rbr.conf:/etc/apache2/sites-enabled/vhost-rbr.conf
          - ./docker/app/vhost-rbr.conf:/etc/apache2/sites-available/vhost-rbr.conf
        tty: true
        links:
          - db
        networks:
            rbr_network:
                aliases:
                  - rbr.local
                ipv4_address: 12.100.0.2

    db:
        image: mysql:5.7
        container_name: rbr_db
        restart: on-failure
        environment:
            - MYSQL_DATABASE=rbr
            - MYSQL_USER=rbr
            - MYSQL_PASSWORD=rbr
            - MYSQL_ROOT_PASSWORD=rbr
        networks:
            rbr_network:
                aliases:
                  - db
                ipv4_address: 12.100.0.3
        volumes:
          - ./docker/db/lib:/var/lib/mysql
          - ./docker/db/log:/var/log/mysql

    phpmyadmin:
        container_name: rbr_phpmyadmin
        restart: on-failure
        image: phpmyadmin/phpmyadmin
        networks:
            rbr_network:
                ipv4_address: 12.100.0.4

networks:
   rbr_network:
    driver: bridge
    ipam:
      config:
        - subnet: 12.100.0.0/16
